@page
@model VetEnCasa.App.Frontend.Pages.DeleteModel
@{
}
<h2>Borrado de cliente</h2>
<form method="post">
    <input type="hidden" asp-for="Cliente.Id"/>
    <div class="form-group">
        <label asp-for="Cliente.Telefono"></label>
        <input asp-for="Cliente.Telefono" class="form-control">
        <span class="text-danger" asp-validation-for="Cliente.Telefono"></span>
    </div>
    <div class="form-group">
        <label asp-for="Cliente.Nombres"></label>
        <input asp-for="Cliente.Nombres" class="form-control">
        <span class="text-danger" asp-validation-for="Cliente.Nombres"></span>
    </div>
    <div class="form-group">
        <label asp-for="Cliente.Apellidos"></label>
        <input asp-for="Cliente.Apellidos" class="form-control">
        <span class="text-danger" asp-validation-for="Cliente.Apellidos"></span>
    </div>
    <div class="form-group">
        <label asp-for="Cliente.direccion"></label>
        <input asp-for="Cliente.direccion" class="form-control">
        <span class="text-danger" asp-validation-for="Cliente.direccion"></span>
    </div>

    
    <button type="submit" class="btn btn-primary">Borrar</button>
    

</form>
<a asp-page="./List" class="btn-default">Volver a la lista de clientes</a>