@page
@model VetEnCasa.App.Frontend.Pages.DetailsModel
@{
}
<h2>Datos detallados del cliente</h2>
<div>
    Nombres: @Model.Cliente.Nombres
</div>
<div>
    Apellidos: @Model.Cliente.Apellidos
</div>
<div>
    Telefono: @Model.Cliente.Telefono
</div>
<div>
    Dirección: @Model.Cliente.direccion
</div>
<a asp-page=".\List" class="btn-default">Volver a lista de clientes</a>


