@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    .titulo_bienvenida > h2{
        color:blue;
        font-weight: 900;
        background-color: transparent;
        text-align: center;
 
    }
</style>
<div class="titulo_bienvenida">
        <h2 class="Bienvenidos">BIENVENIDO <br> a su sistema de reguistro y control de visitas domiciliarias para su mascota</h2>
</div>

